* {
   box-sizing: border-box;
}

body{
   background-color: black;
}

.device {
   /* Don't change */
   margin: auto;
   width: 640px;
   height: 960px;
   overflow: hidden;
   background-color: rgb(251, 246, 246);
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.tabHeader {
   font-weight: bold;
   margin-top: 10px;
   font-size: 26pt;
   width: 100%;
}

.logo {
   /* Don't Change */
   width: 350px;
   height: auto;
   padding: 20px;
}

.header{
   background-color: rgb(253, 253, 253);

   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
   border-bottom: 1px solid #d1d0d0;
}


.tabcontent {
   /* Don't Change */
   width: 100%;
   color: black;
   display: none;
   padding: 15px;
   height: auto;
   position: relative;
   align-self: flex-start;
   overflow: auto;
}

::-webkit-scrollbar {
   /* Don't Change */
   display: none;
}


/* Navigation Styling */
.navigation {
   width: 95%;
   position: absolute;
   bottom: 15px;
   display: flex;
   flex-direction: row;
   border-radius: 25px;
   background-color: rgb(253, 253, 253);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.tablink {
   background-color: transparent;
   color: black;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   font-size: 18px;
   width: 100%;
}

.tablink:hover {
   color: #7b70e3;
}


.icon {
   font-size: 32px;
}

.icon-pm{
   font-size: 22px;
   color: #787879;
}

.icon-pm:hover{
   font-size: 22px;
   color: #7b70e3;
}


.tabText {
   margin-top: 5px;
}

/* Keyboard Stuff */
#keyboard {
   position: absolute;
   display: none;
   bottom: 0;
}

#keyboard img {
   width: 640px;
}

/* Ingredients */

#ingredientCards {
  min-height: 90vh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow-y: auto;
  padding-bottom: 20vh;
}

.item {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #333;
  margin-bottom: 0;
}


/* Recipe Search Tab */
.recipe-search{
   display: flex;
   flex-direction: row;
   align-items: center;
}


#recipeCards {
   min-height: 90vh;
   padding: 15px;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   overflow-y: auto;
   padding-bottom: 20vh;
}

.recipe-card {
   display: flex;

   flex-direction: row;
   border-radius: 8px;
   width: 100%;
   font-family: Arial, sans-serif;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   overflow: hidden;
}

.recipe-card h3{
   font-size: 28px;
}

.recipe-card div{
   font-size: 20px;
}

.recipe-img {
   width: 190px;
   border-radius: 8px 0 0 8px;
   background-size: cover;
   background-position: center;
}

.recipe-content {
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 0 10 10 15;
   position: relative;
   flex: 1;
}

#currentRecipe{
   overflow-y: auto;
   padding-bottom: 10vh;

}

.focusedRecipe-img{
   width: 100%;
   height: 270px;
   border-radius: 8px;
   background-size: cover;
   background-position: center;
}


#currentRecipe .focused-recipe-card{
   padding: 22px;
   background-color: white;
   min-height: 50vh;
   border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   border: 1px solid #dcdada
}

#currentRecipe .focused-recipe-card h1{
   font-size: 35px;
}

#currentRecipe .focused-recipe-card h2{
font-size: 30px;
}

#currentRecipe .focused-recipe-card .focused-ingredients {
   font-size: 24px;
}

#currentRecipe .focused-recipe-card .focused-instructions{
   margin-left: 1vw;
   font-size: 24px;
}


.info-item {
   display: flex;
   align-items: center;
   font-size: 20px;
   color: #333;
   margin-bottom: 1vh;
}

.info-item i {
   color: #787879;
   font-size: 20px;
   margin-right: .5vw;
}


.recipe-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.recipe-heart {
   margin-right: .5vw;
   font-size: 22px;
   color: #787879;
   cursor: pointer;
   transition: transform 0.2s ease;
}

.recipe-heart:hover {
   color: #e74c3c;
   transform: scale(1.2);
}

/* Input Fields */

input {
   margin-top: 1vh;
   margin-bottom: 1vh;
   padding: 15px;
   font-size: 20px;
   border: 1px solid rgb(183, 180, 180);
   border-radius: 5px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

select {
   margin-top: 1vh;
   margin-bottom: 1vh;
   padding: 15px;
   padding-bottom: 16px;
   font-size: 20px;
   border: 1px solid rgb(183, 180, 180);
   border-radius: 5px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

select option:first-of-type{
   color: #757575
}

input:focus {
   border: 2px solid #7469de;
   outline: none;
}

select:focus{
   border: 2px solid #7469de;
   outline: none;
}

.btn {
   border-radius: 5px;
   background-color: #7469de;
   border: 1px solid rgb(120, 110, 217);
   box-shadow: rgba(0, 0, 0, 0.7) 2.4px 2.4px 3.2px;
   padding: 10px;
   align-self: flex-end;
   font-size: 18px;
   font-weight: bold;
   color: white;
}

.notfound {
   color: #333;
   text-align: center;
}

.recipe-icons{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   color: #787879;
   font-size: 25px;
   padding: 15px 5px 15px 5px;
   align-items: center;
}

.icon-actions i{
   margin-left: 15px ;
}

.fa-heart{
   color: #787879;
   cursor: pointer;
   transition: transform 0.2s ease;
}

.fa-heart:hover{
   color: #e74c3c;
   transform: scale(1.2);
}

.fa-share-alt:hover{
   color: #7469de;
   transform: scale(1.2);
}

.recipe-ingredient{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1.5vh;
}


/* ul {
  margin-top: 1rem;
  padding: 0;
  margin-left: -5px;
} */

/* ul li {
  cursor: pointer;
  position: relative;
  padding: 16px 8px 16px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
} */

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.addButton{
   border-radius: 5px;
   background-color: #7469de;
   border: 1px solid rgb(120, 110, 217);
   box-shadow: rgba(0, 0, 0, 0.7) 2.4px 2.4px 3.2px;
   padding: 8px 18px 8px 18px;
   font-size: 20px;
   font-weight: bold;
   color: white;
}


.qty-controls {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}


.ShoppingListInput{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.close-btn{
   color:#787879;
   font-size: 24px;
   border: none;
   background-color: rgba(0,0,0,0);
}

.close-bar{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

